{% set title = title|dasherize %}
<div class="card">
    <div class="card-header {% if header_class is defined %}{{ header_class }}{% endif %}"
         id="{{ title }}-header">
        {% block header %}
            <button class="btn btn-link txt-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#{{ title }}-collapse">
                {{ title }}
            </button>
        {% endblock %}
    </div>
    <div id="{{ title }}-collapse">
        <div class="card-body {% if body_class is defined %}{{ body_class }}{% endif %}"
             id="{{ title }}-body">
        {{ card_body }}
        </div>
    </div>
</div>
